* {
  padding: 0;
  margin: 0;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Skip Link */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #ffffff;
    color: rgb(7, 7, 7);
    padding: 8px;
    z-index: 100;
    text-decoration: none;
}

.skip-link:focus {
    top: 0;
}

 
 
/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: #C1B443;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  font-size: 22px;
  user-select: none;
  font-family: 'Satisfy', cursive;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #C1B443;
  overflow: hidden;
  z-index: 9999;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  min-width: 44px;
  min-height: 44px;
}

/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 500px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(46, 45, 45, 0.5), rgba(22, 22, 22, 0.5));
    background-position: center;
    
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 70px;
    font-family: 'Satisfy', cursive;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 28px;
    font-weight: 300;
}

/* Main Content */
main {
  padding: 32px;
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
  text-align: center;
}

.content__heading{
  color: #afa126;
  margin: 20px 0;
  font-weight: bold;
  font-size: 40px;
}
 

/*
  Restaurants
*/
 
.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0px;
}
 
 
/*
  Resto Item
*/
 
.resto-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
 
.resto-item__header {
  position: relative;
}
 
.resto-item .resto-item__header .resto-item__header__poster {
  width: 100%;
}
 
.resto-item .resto-item__header .resto-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
 
.resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
  margin-left: 10px;
}
 
.resto-item .resto-item__content {
  padding: 16px;
  min-height: 44px;
  min-width: 44px;
}
 
.resto-item .resto-item__content h3, .resto-item__content h4 {
  margin: 0 0 10px 0;
}
 
.resto-item .resto-item__content h3 a {
  color: #d4a21a;
  text-decoration: none;
  min-height: 44px;
  min-width: 44px;
}
 .resto-item__content a {
  text-align: center;
  min-height: 44px;
  min-width: 44px;
}

.resto-item__name{
  font-size: 18px;
  min-height: 44px;
  min-width: 44px;
  padding: 10px 0px;
  text-align: center;
}
 
.resto-item .resto-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}


/* singel restaurant */


.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 10px;
}
 
.restaurant .resto-detail__poster {
  width: 100%;
}

 
.restaurant .resto-detail__info h4 {
  margin: 8px 0;
}

.resto-detail__title, .resto-detail__location{
  text-align: center;
  color: #C1B443;
  font-size: 30px;
}
.resto-detail__location{
  font-size: 25px;
}

.resto-detail__description, .resto-detail__categories, .resto-detail__makanan, .resto-detail__minuman{
  color: #C1B443;
  margin: 5px 0;
  font-size: 20px;
}

.resto-detail__review{
  text-align: center;
}

.detail-review-item{
  border-bottom: 1px solid grey;
}

.review-name{
  color: rgb(98, 96, 236);
}

.review-date{
  color: grey;
  font-size: 14px;
}



/* Footer */


footer {
    background-color: #C1B443;
    padding: 2em;
    text-align: center;
}


footer p {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    
}


.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #1b1b1a;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}