* {
  padding: 0;
  margin: 0;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 
 
/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: #C1B443;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  font-size: 22px;
  user-select: none;
  font-family: 'Satisfy', cursive;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #C1B443;
  overflow: hidden;
  z-index: 9999;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 500px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgba(46, 45, 45, 0.5), rgba(22, 22, 22, 0.5));
    background-position: center;
    
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 70px;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 28px;
    font-weight: 300;
}

/* Main Content */
main {
  padding: 32px;
  flex: 1;
  border: 2px solid black;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
}



/* Footer */


footer {
    background-color: #C1B443;
    padding: 2em;
    text-align: center;
}


footer p {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    
}